{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

		<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Articulos</h5>
					{% if request.user.is_staff %}
					<td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_product'%}">Crear Artículo</a></td>
				</div>
				{% endif%}
				<br>
				<div class="row">
					<div class="col">
						<div class="card card-body">

							<form method="get">
								{{myFilter.form}}

						    <button class="btn btn-primary" type="submit">Buscar</button>
						  </form>

						</div>
					</div>

				</div>
				<br>


				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Portada</th>
							<th>Articulo</th>
							<th>Categoria</th>
							<th>Precio</th>
							<th>Descripción</th>
							<th>Enlace</th>
							{% if request.user.is_staff %}
							<th>Actualizar</th>
							<th>Eliminar</th>
							{% endif%}
						</tr>

						{% for i in products %}

							<tr>
								<td><img src="{% static 'images/'%}{{i.imagen}}" width="100" height="50"></td>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
								<td>{{i.description}}</td>
								<td><a class="btn btn-sm btn-info" href="{% url 'productspage' i.id %}">Ver</a></td>
								{% if request.user.is_staff %}
								<td><a class="btn btn-sm btn-info" href="{% url 'update_product' i.id %}">Actualizar</a></td>
								<td><a class="btn btn-sm btn-danger" href="{% url 'delete_product' i.id %}">Eliminar</a></td>
								{% endif%}
							</tr>
						{% endfor %}

					</table>
				</div>
			</div

		</div>

{% endblock content %}
